<div class="tenancies-wrapper">
    <div class="header">
        <ymt-tenancy-header (goBack)="goBack()"></ymt-tenancy-header>
    </div>
    <mat-tab-group [selectedIndex]="1">
        <mat-tab label="GERAL">
            <div class="tab-content">
            </div>
        </mat-tab>
        <mat-tab label="UNIDADES">
            <div class="tab-content">
                <ymt-unities-tab-content [unities]="tenancyUnities$ | async"></ymt-unities-tab-content>
            </div>
        </mat-tab>
        <mat-tab label="USUÁRIOS">
            <div class="tab-content">
                USUÁRIOS
            </div>
        </mat-tab>
        <mat-tab label="PLANOS">
            <div class="tab-content">
                Planos</div>
        </mat-tab>
        <mat-tab label="PATOLOGIAS">
            <div class="tab-content">
                Patologias
            </div>
        </mat-tab>
    </mat-tab-group>
</div>