/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





.mdc-tab{
    padding: 12px 16px !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: fit-content;
    flex-grow: 0 !important;
  }